
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    
    }

    body{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        background-image:url(pedestrians-400811_1920.jpg);
        background-color: darkgrey;
        background-blend-mode: screen;
        background-size: cover;
        position: relative;
    }



    .nav-bar{
        display: flex;
        width: 75%;
        height: 15vh;
        margin: auto;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }

    .logo-container,.anav-links,.atom{
        display: flex;
    }

    .logo-container{
        /* background-color: blueviolet; */
        flex: 1;
        font-weight: 400;
        align-items: center;
        flex-direction: column;
    }
    
    .icon{
        width: 15%;
    }

    nav{
        flex: 2;
    
    }

    ul.anav-links{
        /* background-color: blue; */
        justify-content: space-around;
        list-style: none;
        align-content: center;
        font-size: 19px;
        align-items: center;
        text-decoration: none;
     
    }

    .links{
        text-decoration: none;
        color: #9423b9e0;
        border-color: coral;
        font-weight: 900;
        border-style: solid;
        padding: 18px;
        border-radius: 21%;
    }
    
    .atom{
        flex: 2;
        /* background-color: chartreuse; */
        /* justify-content: right; */
        justify-content: flex-end;
    }

    .links:hover{
    
        background-color: blue;
        padding: 20%;
        font-weight: 800;
        width: 59%;
        border-radius: 19%;
        border: outset;
        color: coral;
    }