

#botaozinhoDaRolagem a{
    content: "\0040"; /*caractere especial em css*/
    z-index: 1000; /*manter o botãozinho sempre acima dos outros elementos*/
    color: white;
    font-weight: 900;
    text-align: center;
    position: fixed;
    
    /*cuidado com alocações concorrentes top x bottom e lef x right*/
    bottom: 35px; /*posição a partir de baixo (não use top neste caso)*/
    right: 35px; /*posição a partir da direita (não use left neste caso)*/
    width: 65px;
    height: auto;
    border-radius: 50%; /*fará o box ficar circular*/
    background: rgba(223, 188, 33, 0.3);
    text-decoration: none;
    font-size: 1.4em;
}

#botaozinhoDaRolagem:hover a{
    background: rgba(223, 188, 33, 0.979);
    transition: background .2s ; /*abreviação*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width:767px) {



    .bgimagem_1, .bgimagem_2, .bgimagem_3 {
       position: relative; /* respeita os irmÃ£os */
       opacity: .8;
       background-repeat: no-repeat; /* imagens repetem no fundo em X e Y */
       background-attachment:fixed; /* sem rolagem junto com objeto */
   }
    
      .bgimagem_1{
          background-image: url("../imagens/duplo-4.jpg");
          min-height: 100%;
          max-width: 100% !important;
          background-size: 100%; 
          background-position-y: top;
          background-position-x: 255%;
          background-repeat: repeat;
      }
      .bgimagem_2{
          background-image: url("../imagens/duplo-12.jpg");
          min-height: 100%;
          background-size: cover; /* dá corbetura no fundo pela maior dimensão */
          background-position-y: center; /* centerV centerH */
          background-position-x: 65%;     
       }
      .bgimagem_3{
          background-image: url("../imagens/paraquedismo03.jpg");
          min-height: 100%;
          background-size: cover; /* dá corbetura no fundo pela maior dimensão */
          background-position-x: 70%; /* centerV centerH */
      }
    
      p{
          font-size: 1.8em;
      }
    

<<<<<<< HEAD
      h2 {
        margin-left: -17%;
    }
=======
      h2{
          letter-spacing: 0.2em;
          font-size: 2.8em;
      }
>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33

      .TitBox span.border{
        letter-spacing: 0.2em; 
        font-size: 2.8em;
      }

      a {
        font-size: 1.5em;
    }

    table{
        margin: auto;
        width: 44vh;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
    }

    
    tr, td {
        font-size: 1.2em;
        width: 10vh; 
<<<<<<< HEAD
    }

=======
    }

    
    tr, td {
        font-size: 1.2em;
        width: 10vh; 
    }

>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
    p.promocional2 {
        width: 36vh;
    }

    h2.titulo {
        font-size: 1.6em;
    }

=======
    }

    p.promocional2 {
        width: 36vh;
    }

    h2.titulo {
        font-size: 1.6em;
    }

>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
    h3.subtitulo {
        font-size: 1.9em;
        width: 46vh;
        margin: auto;
        margin-block-end: 9%;
    }
    ul.colunas60 {
        font-size: 1.8em;
        width: 48vh;
        margin: auto;
        margin-block-end: 29%
    }

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
     


        /*Menu Navegação*/

=======
=======
>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
=======
>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33

        table#horarios {
            width: 43vh;
            /* margin-block-start: -22%; */
            height: auto;
        }

        *,
        *:after,
        *::before{
            box-sizing: border-box;
        }


                /*MENU DE NAVEGAÇÃO */
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
=======
>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
=======
>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
    .menu-main ul{
        margin: 0;
        padding: 0;
        text-transform: none;
        font-weight: 300;
        line-height: 60px;
    }

    .menu-main{
        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        font-size: 1.2em;
        max-width: 100%;
   
    }

    .menu-main a{
        display: block;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
    }


    /*.menu-main > li {
        display: block;
        float: left;
        height: 100%;
        border-right: 1px solid rgba(255, 255, 0, 0.452);
        text-align: center;
        
    }

    .menu-main > li:last-child{
        float: right;
        border-right: none;
        border-left: 1px solid rgba(255, 255, 0, 0.5);
    }
    .menu-main > li > a {
        padding: 0 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }

<<<<<<< HEAD
=======
    .menu-main:after{
        display: table;
        clear: both;
        content: icon;
    }*/

>>>>>>> 3bc58c61eedbc99806e77baa9e1d7a40c4f37a33
    .menu-main li{
        overflow: visible;
        transition: height 0.3s;
        height: 12vh;
        margin-right: 44.3%;
    }

}
