*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}
            /*CAIXA PRINCIPAL DA INTERFACE DO LAYOUT*/

#main{
    width: 1250px;
    height: 1200px;
    margin: 5px;
    padding: 40px;
    background-image: url(../img/gatos_sucessus_fundo.jpg);
    /*background-color: rgb(6, 6, 59);*/
}
                /*cabeçalho principal*/
#cabecalho{
    width: 1250px;
    margin: 1px;
    padding: 0px;
    height: 300px;
    background-color: blue;
    float: right; 
}
                /*conteúdos*/
#listas{
    width: 200px;
    min-height: 600px;
    background-color: blue;
    display: block;
    float: right;
    text-align: left;
    border: 5px solid black;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: -webkit-xxx-large;
    color: maroon;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
                      /*Logo*/                          
#logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
    border: 4px solid purple;
    background-image: url(../img/gatinho_rambo_colorido.jpg);
    float: left;
    background-position: center;
    background-size: cover;
}
                    /*depoimentos e informações*/
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#depoimentos{
    width: 1000px;
    height: 300px;
    padding: 12px;
    margin: 8px;
    background-color: #6e5a98;
    text-align: center;
    float: left;
    overflow: hidden;
}

#depoimentos img{
    height: 120px;
    width: 70%;
    display: inline-block;
    text-align: center;
 
}

p{
    margin: 0;
    padding: 10px;
    width: 34%;
    height: 20%;
    float: left;
    
}

#depoimentos p,#informacoes p{
    background-color: unset;
    /*border-top: rgb(255, 255, 255) solid 1px;
    border-bottom: white solid 4px;*/
    text-align: left;
    padding: 20px 0px 40px 0;
    margin-left: 30px;
    line-height: 18px;
}

                    /*Classes de conteúdos, modificar individualmente*/
div.container1{
    height: 18px;
    position: relative;
}
div.container1 p{
    margin: 0;
    position: absolute;
    top: 61%;
    transform: translate(0,-47%);
}

div.container2{
    height: 18px;
    display: flex;
    align-items: center;
    top: 35%;
    left: 46%;
    margin-right: -26%;
    transform: translate(28%,-45%);
    /*transform:translate serve para modificar o elemento no espaço*/
}  

div.container2 p{
        margin: 0;
        /*position: absolute;*/
        width: 27%;  
    }

    div.container3{
        height: 18px;
        display: flex;
        align-items: center;
        top: 35%;
        left: 46%;
        margin-right: -26%;
        transform: translate(60%,-217%);
    }  
    
    div.container3 p{
            margin: 0;
            /*position: absolute;*/
            width: 14%;  
        }

                    /*TABELAS*/
table{
    padding: 10px;
    margin: 0 auto;

}

tr{
    padding: 10px;
    margin: 0 auto;
}

td{
    border: 1px solid black;
}
.imgdepoimentos{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-block;
    background-position: center;
    background-size: cover;
    text-align: center;

                /*fotos dos depoimentos*/
}
#gatinho1{
    background-image: url(../img/gatinho1.jpg);
    float: left;
    margin:10px;
    transform: translate(49%,-8%);
}

#gatinho2{
    background-image: url(../img/gatinho2.jpg);
    float: right;
    margin: 10px;
    transform:translate(-45%);
}

#gatinho3{
    background-image: url(../img/gatinho4.jpg);
    margin:10px;
    transform: translate(0,2%);
}
                    /*informações*/
#informacoes{
    width: 1000px;
    height: 250px;
    padding: 10px;
    margin: 8px;
    background-color: midnightblue;
    float: left;
}

                /*rodapé*/
#rodape{
    width: 1250px;
    height: 200px;
    background-color: navy;
    float: right;
}

#copy{
    width: 200px;
    height: 200px;
    /*padding: px;
    margin: 1px;*/
    background-color: purple;
    /*border: 5px solid black ;*/
    float: right;
}